## Series练习

In [ ]:
# 练习1：从列表创建 Series，[1,2,3,4]

In [ ]:
# 练习2：从字典创建 Series，{'a':1,'b':2,'c':3,'d':4}

In [1]:
# 练习3：创建一个Series，并命名Series_1

In [ ]:
# 练习4：创建一个Series，并展示它的values

In [ ]:
# 练习5：给已经创建的Series添加index
s = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

In [2]:
# 练习6：展示Series第一个元素 （请使用多种方法）

In [3]:
# 练习7：展示除首位外所有的元素

In [4]:
# 练习8：反转Series

In [5]:
# 练习9：只显示s3中不为空的行
# s1
lst = [1,3,5,6,10,23]
s1 = pd.Series(lst,index=["A","B","C","D","E","F"])
# s2
my_dict = {"A":1,"B":2,"C":3,"D":2}
s2 = pd.Series(my_dict)
s3 = s1 + s2

In [6]:
# 练习10：只显示s3中为空的行

## DataFrame练习

In [ ]:
# 练习1：创建一个DataFrame

In [ ]:
# 练习2：给这个DataFrame添加names

In [7]:
# 练习3：给这个DataFrame添加自己的index和column

In [ ]:
# 练习4：展示最后一行

In [8]:
# 练习5：将第四列第一行赋值为10，列中其他为0

In [9]:
# 练习6：得到一个mask，条件为value为0

In [10]:
# 练习7：取出第三列的值大于0.5的所在行

In [11]:
# 练习8：计算第三列总和，以及第二行总和

In [ ]:
# 练习9： 有一列整数列A的DatraFrame，删除数值重复的行
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})

In [ ]:
## 练习10：一个有5列的DataFrame，求哪一列的和最小，并打印数值
df = pd.DataFrame(np.random.random(size=(5, 5)))

In [ ]:
## 练习11：将Name列中的AAPL替换为Apple
df = pd.read_csv('./data/all_stocks.csv')

In [ ]:
## 练习12：在df中插入行，然后删除它
df = pd.read_csv('./data/all_stocks.csv')

In [ ]:
# 练习13：将high列中的大于50的值替换为布尔值True, 繁殖False
df = pd.read_csv('./data/all_stocks.csv')